body {
  background-color: #D5F2F6;
}
h2{
  font-size: 300%;
  letter-spacing: 6px;
  text-align: center;
  color: #374142;
 
  text-decoration: overline;
  text-decoration spacing: 
}
{img
  width: 
}
ul{
  text-align: center;
  list-style type: none;
    font-family: Times;
  position: fixed;
}
li{
  float: left;
}li a{
  padding: 50px;
  color: #374142;
  border: ridge;
}
li a:hover{
  background-color: #B5B5B5;
}
}
